/*** Publishing: Hide things that aren't very useful for a read-only view */

/** Hide page properties (public pages will always have public: true) */
.content .pre-block { display: none; }

/** Title */
/* Make title non-editable */
#main-container .page-title { pointer-events: none; }

/** Hide useless sidebar stuff */
.nav-header .flashcards-nav { display: none; }
.nav-header .journals-nav { display: none; }
/*.nav-header .graph-view-nav { display: none; }*/

/** Header */
/* Hide right side of header buttons  (only useful setting is light/dark theme and can still be done using tt, graph is somewhat broken, home is covered by "All Pages")  */
#head div.r { display: none; }

/** All pages */
/* Hide selection checkbox (nothing can be done with it) */
.cp__all_pages table .selector { display: none; }
/* Hide more columns (not that they don't work, they just don't seem very useful) */
.cp__all_pages table .backlinks { display: none; }
.cp__all_pages table .created-at { display: none; }
/* Hide delete button */
.cp__all_pages .actions .actions-wrap { display: none; }
/* Hide more page modification options/things that don't work */
.cp__all_pages .actions div.r { display: none; }
/* Fix search bar spacing */
.cp__all_pages .actions .search-wrap { margin-left: 0; padding-left: 0; }

/** Image */
/* Remove delete button */
a.delete { display: none; }
/* Disable resizing */
.resize { resize:none; }

/** Hide graph settings (they're ineffective, only the desktop app's while exporting seem to matter, search doesn't work either) */
.graph-filters { display: none; }

/** Hide recent pages (seems to be ineffective on web)*/
.nav-content-item.recent { display: none; }

/* Hide context menu (mostly ineffective) */
#custom-context-menu { display: none; }

/** Disable dragging of blocks (also disables zooming) */
.ls-block > div > div > a:not(.block-control) { pointer-events: none; }

/** Remove superfluous spacing on block embeds in Firefox */
.block-content.inline { white-space: revert; }






////////////////THEME


@import './core.css';

.theme-settings,
html[data-theme=dark] {
    --cd-primary-bg-color: hsl(20, 3%, 19%);
    --cd-secondary-bg-color: hsl(20, 3%, 22%);
    --cd-alternate-bg-color: hsl(20, 3%, 25%);
    --cd-quaternary-bg-color: hsl(20, 3%, 28%);
    --cd-highlight-bg-color: var(--cd-alternate-bg-color);
    --cd-inactive-color: hsl(20, 3%, 28%);
    --cd-active-color: hsl(20, 3%, 40%);
    --cd-primary-text-color: #EBDBB2;
    --cd-alternate-text-color: #EBDBB2;
    --cd-active-color-1: #DE6962;
    --cd-active-color-2: #478091;
    --cd-active-color-3: #a9b665;
    --cd-active-color-4: #d3869b;
    --cd-active-color-5: #e78a4e;
    /* === FONTS === */
    --ts-font-size: 1em;
    --ts-sans-font: "Poppins";
    /* ========== COLOR EMENTS ============ */
    --ts-scrollbar-fg-color: var(--cd-active-color);
    --ts-scrollbar-bg-color: var(--cd-secondary-bg-color);
    /* ==================================== */
    /* === LS Features === */
    --ts-sidebar-text-color: var(--cd-primary-text-color);
    --ts-sidebar-bg-color: var(--cd-quaternary-bg-color);
    --ts-sidebar-navigation-colors: var(--cd-primary-text-color);
    --ts-cloze-color: var(--cd-active-color-2);
    /* === Menu === */
    --ts-menu-bg-color: var(--cd-secondary-bg-color);
    --ts-menu-matched-color: var(--ts-highlight-decoration-color);
    --ts-menu-bg-color-hover: var(--cd-quaternary-bg-color);
    --ts-chosen-color: var(--cd-quaternary-bg-color);
    /* === SELECTIONS === */
    --ts-selected-bg-color: var(--cd-highlight-bg-color);
    /* === TAGS === */
    --ts-tag-color: var(--cd-active-color);
    --ts-tag-background-color: transparent;
    --ts-tag-weight: 300;
    --ts-tag-color-hover: var(--cd-active-color);
    --ts-tag-border-hover: 0px solid var(--ts-tag-color-hover);
    --ts-tag-border: 0px solid var(--cd-active-color-4);
    --ts-tag-border-radius: 0px;
    --ts-tag-padding: 0px 0px 0px 1px;
    --ts-tag-box-shadow: 0px 0px;
    --ts-tag-text-decoration: none;
    --ts-tag-text-decoration-thickness: 0px;
    --ts-tag-text-decoration-color: var(--cd-active-color-3);
    /* === BLOCK REFS === */
    --ts-block-ref-border: 1px solid var(--cd-primary-text-color);
    /* === PAGE REFERENCES === */
    --ts-page-ref-color: var(--cd-active-color-1);
    --ts-page-ref-padding: 0px 1px 0px 1px;
    --ts-page-ref-border: 0px solid var(--ts-text-background);
    --ts-page-ref-border-radius: 0px;
    --ts-page-ref-background: transparent;
    --ts-page-ref-bracket-color: var(--cd-active-color-1);
    /* === PROPERTIES === */
    --ts-property-background-color: var(--cd-secondary-bg-color);
    --ts-property-value-weight: 800;
    --ts-property-key-weight: 400;
    --ts-property-key-color: var(--cd-primary-text-color);
    --ts-property-border: 0px;
    --ts-property-border-radius: 2px;
    --ts-property-key-transform: lowercase;
    --ts-property-key-color: var(--cd-primary-text-color);
    --ts-property-value-color: var(--cd-primary-text-color);
    --ts-property-value-weight: 500;
    --ts-property-value-transform: uppercase;
    /* === TASKS === */
    --ts-checkbox-border: 1.5px solid var(--cd-active-color);
    --ts-checkbox-later-border: 1.5px solid var(--cd-active-color-7);
    --ts-checkbox-doing-border: 1.5px solid var(--cd-active-color-5);
    --ts-checkbox-border-radius: 1px;
    --ts-checkbox-background: var(--cd-primary-bg-color);
    --ts-checkbox-background-hover: var(--cd-primary-bg-color);
    --ts-checkbox-checked-background: var(--cd-active-color-2);
    --ts-task-color: var(--cd-active-color);
    --ts-task-color-hover: var(--cd-active-color-9);
    --ts-task-opacity: 0.8;
    /* === PRIORITY ITEMS === */
    --ts-priority-a-color: var(--cd-active-color-5);
    --ts-priority-b-color: var(--cd-active-color-7);
    --ts-priority-c-color: var(--cd-active-color-4);
    /* === GUIDELINE === */
    --ts-guideline-inactive-color: var(--cd-inactive-color);
    --ts-guideline-active-color: var(--cd-active-color);
    /* === BULLET === */
    --ts-bullet-closed-color: rgba(53, 42, 42, 0.3);
    --ts-bullet-color: #8D8885;
    /* === EMBEDS === */
    --ts-embed-border: 0px;
    --ts-embed-border-radius: 0px;
    /* === MARKDOWN === */
    --ts-title-color: var(--cd-primary-text-color);
    --ts-headline-color: var(--cd-primary-text-color);
    --ts-headline-weight: 700;
    --ts-text-bold-color: var(--cd-active-color-1);
    --ts-text-italic-color: var(--cd-active-color-3);
    --ts-editor-block-text-color: var(--cd-active-color-2);
    --ts-underline-color: var(--cd-active-color-1);
    --ts-strikethrough-color: var(--cd-primary-text-color);
    /* === HIGHLIGHTER === */
    --ts-highlight-decoration-style: underline;
    --ts-highlight-underline-thickness: 4px;
    --ts-highlight-color: var(--cd-primary-text-color);
    --ts-highlight-background-color: transparent;
    --ts-highlight-decoration-color: var(--cd-active-color-1);
    --ts-highlight-border-radius: 2px;
    /* === CODE BLOCKS === */
    --ts-inline-code-bg: var(--cd-alternate-bg-color);
    --ts-inline-code-color: var(--cd-active-color-3);
    /* === TABLES === */
    --ts-table-rows: var(--cd-inactive-color);
    /* === EXT LINKS === */
    --ts-ext-link-color: var(--cd-active-color);
    --ts-ext-link-bg-color: transparent;
    --ts-ext-link-border-bottom: 0px solid var(--cd-active-color-1);
    --ts-ext-link-weight: 300;
    --ts-ext-link-style: normal;
    --ts-ext-link-decoration: underline;
}

.theme-settings,
html[data-theme=light] {
    --cd-primary-bg-color: hsl(48, 72%, 88%);
    --cd-secondary-bg-color: hsl(48, 72%, 84%);
    --cd-alternate-bg-color: hsl(48, 72%, 80%);
    --cd-quaternary-bg-color: hsl(48, 50%, 76%);
    --cd-highlight-bg-color: var(--cd-alternate-bg-color);
    --cd-inactive-color: hsl(53, 32%, 75%);
    --cd-active-color: hsl(53, 32%, 70%);
    --cd-primary-text-color: #3C3836;
    --cd-alternate-text-color: #3C3836;
    --cd-active-color-1: #B45303;
    --cd-active-color-2: #457681;
    --cd-active-color-3: #a9b665;
    --cd-active-color-4: #d3869b;
    --cd-active-color-5: #e78a4e;
    /* === FONTS === */
    --ts-font-size: 1em;
    --ts-sans-font: "Poppins";
    /* ========== COLOR EMENTS ============ */
    --ts-scrollbar-fg-color: var(--cd-active-color);
    --ts-scrollbar-bg-color: var(--cd-secondary-bg-color);
    /* ==================================== */
    /* === LS Features === */
    --ts-sidebar-text-color: var(--cd-primary-text-color);
    --ts-sidebar-bg-color: var(--cd-quaternary-bg-color);
    --ts-sidebar-navigation-colors: var(--cd-primary-text-color);
    --ts-cloze-color: var(--cd-active-color-2);
    /* === Menu === */
    --ts-menu-bg-color: var(--cd-secondary-bg-color);
    --ts-menu-matched-color: var(--ts-highlight-decoration-color);
    --ts-menu-bg-color-hover: var(--cd-quaternary-bg-color);
    --ts-chosen-color: var(--cd-quaternary-bg-color);
    /* === SELECTIONS === */
    --ts-selected-bg-color: var(--cd-highlight-bg-color);
    /* === TAGS === */
    --ts-tag-color: var(--cd-active-color);
    --ts-tag-background-color: transparent;
    --ts-tag-weight: 300;
    --ts-tag-color-hover: var(--cd-active-color);
    --ts-tag-border-hover: 0px solid var(--ts-tag-color-hover);
    --ts-tag-border: 0px solid var(--cd-active-color-4);
    --ts-tag-border-radius: 0px;
    --ts-tag-padding: 0px 0px 0px 1px;
    --ts-tag-box-shadow: 0px 0px;
    --ts-tag-text-decoration: none;
    --ts-tag-text-decoration-thickness: 0px;
    --ts-tag-text-decoration-color: var(--cd-active-color-3);
    /* === BLOCK REFS === */
    --ts-block-ref-border: 1px solid var(--cd-primary-text-color);
    /* === PAGE REFERENCES === */
    --ts-page-ref-color: var(--cd-active-color-2);
    --ts-page-ref-padding: 0px 1px 0px 1px;
    --ts-page-ref-border: 0px solid var(--ts-text-background);
    --ts-page-ref-border-radius: 0px;
    --ts-page-ref-background: transparent;
    --ts-page-ref-bracket-color: var(--cd-active-color-1);
    /* === PROPERTIES === */
    --ts-property-background-color: var(--cd-secondary-bg-color);
    --ts-property-value-weight: 800;
    --ts-property-key-weight: 400;
    --ts-property-key-color: var(--cd-primary-text-color);
    --ts-property-border: 0px;
    --ts-property-border-radius: 2px;
    --ts-property-key-transform: lowercase;
    --ts-property-key-color: var(--cd-primary-text-color);
    --ts-property-value-color: var(--cd-primary-text-color);
    --ts-property-value-weight: 500;
    --ts-property-value-transform: uppercase;
    /* === TASKS === */
    --ts-checkbox-border: 1.5px solid var(--cd-active-color);
    --ts-checkbox-later-border: 1.5px solid var(--cd-active-color-7);
    --ts-checkbox-doing-border: 1.5px solid var(--cd-active-color-5);
    --ts-checkbox-border-radius: 1px;
    --ts-checkbox-background: var(--cd-primary-bg-color);
    --ts-checkbox-background-hover: var(--cd-primary-bg-color);
    --ts-checkbox-checked-background: var(--cd-active-color-2);
    --ts-task-color: var(--cd-active-color);
    --ts-task-color-hover: var(--cd-active-color-9);
    --ts-task-opacity: 0.8;
    /* === PRIORITY ITEMS === */
    --ts-priority-a-color: var(--cd-active-color-5);
    --ts-priority-b-color: var(--cd-active-color-7);
    --ts-priority-c-color: var(--cd-active-color-4);
    /* === GUIDELINE === */
    --ts-guideline-inactive-color: var(--cd-inactive-color);
    --ts-guideline-active-color: var(--cd-active-color);
    /* === BULLET === */
    --ts-bullet-closed-color: rgba(53, 42, 42, 0.3);
    --ts-bullet-color: #bfb68b;
    /* === EMBEDS === */
    --ts-embed-border: 0px;
    --ts-embed-border-radius: 0px;
    /* === MARKDOWN === */
    --ts-title-color: var(--cd-primary-text-color);
    --ts-headline-color: var(--cd-primary-text-color);
    --ts-headline-weight: 700;
    --ts-text-bold-color: var(--cd-active-color-1);
    --ts-text-italic-color: var(--cd-active-color-2);
    --ts-editor-block-text-color: var(--cd-active-color-2);
    --ts-underline-color: var(--cd-active-color-1);
    --ts-strikethrough-color: var(--cd-primary-text-color);
    /* === HIGHLIGHTER === */
    --ts-highlight-decoration-style: underline;
    --ts-highlight-underline-thickness: 4px;
    --ts-highlight-color: var(--cd-primary-text-color);
    --ts-highlight-background-color: transparent;
    --ts-highlight-decoration-color: var(--cd-active-color-1);
    --ts-highlight-border-radius: 2px;
    /* === CODE BLOCKS === */
    --ts-inline-code-bg: var(--cd-alternate-bg-color);
    --ts-inline-code-color: var(--cd-active-color-1);
    /* === TABLES === */
    --ts-table-rows: var(--cd-inactive-color);
    /* === EXT LINKS === */
    --ts-ext-link-color: var(--cd-primary-text-color);
    --ts-ext-link-bg-color: transparent;
    --ts-ext-link-border-bottom: 0px solid var(--cd-active-color-1);
    --ts-ext-link-weight: 300;
    --ts-ext-link-style: normal;
    --ts-ext-link-decoration: underline;
}
